In [1]:
import pandas as pd

In [2]:
num_show_lines = 3

In [3]:
min_date = "2020-02-01"
max_date = "2020-06-30"
top = 5

In [4]:
product_fname = "product.csv"
sales_fname = "sales.csv"
store_fname = "store.csv"

In [5]:
product_df = pd.read_csv(product_fname)
sales_df = pd.read_csv(sales_fname)
store_df = pd.read_csv(store_fname)

In [6]:
product_df[:num_show_lines]

    id   name     brand
0  101  p-101  yoyodyne
1  102  p-102      duff
2  103  p-103  yoyodyne

In [7]:
sales_df[:num_show_lines]

         date  product  store  quantity
0  2020-06-07      114      5         2
1  2020-05-25      106      7         8
2  2020-02-05      108      3         7

In [8]:
store_df[:num_show_lines]

   id name       city
0   1  s-1     gotham
1   2  s-2  coruscant
2   3  s-3  coruscant

In [9]:
date_mask = ((sales_df["date"] >= min_date) & 
             (sales_df["date"] <= max_date))

In [10]:
masked_sales_df = sales_df[date_mask]

In [11]:
top_seller_product_df = masked_sales_df.loc[:, ["product", "quantity"]]\
                .groupby("product")\
                .sum()\
                .nlargest(top, 'quantity', keep="all")

In [12]:
print("-- top seller product --")
pd.merge(top_seller_product_df, 
         product_df, 
         left_on="product", right_on="id").loc[:, ["name", "quantity"]]

-- top seller product --

    name  quantity
0  p-103        33
1  p-102        24
2  p-110        24
3  p-109        23
4  p-105        15

In [13]:
top_seller_store_df = masked_sales_df.loc[:, ["store", "quantity"]]\
                .groupby("store")\
                .sum()\
                .nlargest(top, 'quantity', keep="all")

In [14]:
print("-- top seller store --")
pd.merge(top_seller_store_df, 
         store_df, 
         left_on="store", right_on="id").loc[:, ["name", "quantity"]]

-- top seller store --

  name  quantity
0  s-3        42
1  s-2        36
2  s-7        36
3  s-4        30
4  s-5        27

In [15]:
top_seller_brand_df = pd.merge(masked_sales_df, 
         product_df, 
         left_on="product", right_on="id").loc[:, ["brand", "quantity"]]

In [16]:
print("-- top seller brand --")
top_seller_brand_df.groupby("brand")\
                .sum()\
                .nlargest(top, 'quantity', keep="all")

-- top seller brand --

          quantity
brand
yoyodyne       100
acme            65
duff            45

In [24]:
df_names = {
    "product" : product_df,
    "sales" : sales_df,
    "store" : store_df
}

In [31]:
dfs = {
    "product",
    "sales",
    "store"
}

In [32]:
for df_name in dfs:
    dfs[df_name] = df_name

TypeError: 'set' object does not support item assignment

In [29]:
def find_top_sellers(join_ds, att_name):
    top_seller_df = pd.merge(sales_df, 
                             df_names[join_ds], 
                             left_on=join_ds, right_on="id")\
                        .loc[:, [att_name, "quantity"]]
    top_seller_df = top_seller_df.groupby(att_name)\
                .sum()\
                .nlargest(top, 'quantity', keep="all")
    print(f"-- top seller {att_name} --")
    print(top_seller_df)

In [30]:
find_top_seller("product", "name")
find_top_seller("store", "name")
find_top_seller("product", "brand")
find_top_seller("store", "city")

-- top seller name --
       quantity
name
p-103        42
p-102        24
p-110        24
p-109        23
p-114        20
-- top seller name --
      quantity
name
s-3         57
s-2         53
s-7         41
s-5         37
s-4         30
-- top seller brand --
          quantity
brand
yoyodyne       118
acme            81
duff            60
-- top seller city --
           quantity
city
gotham          123
coruscant       110
zion             26

find_top_seller("product", "name")
find_top_seller("store", "name")
find_top_seller("product", "brand")
find_top_seller("store", "city")

In [ ]:
top_seller_city_df = pd.merge(masked_sales_df, 
         store_df, 
         left_on="store", right_on="id").loc[:, ["city", "quantity"]]

In [ ]:
print("-- top seller city --")
top_seller_city_df.groupby("city")\
                .sum()\
                .nlargest(top, 'quantity', keep="all")